In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pandas.read_csv('NFLdataset.csv')

NameError: name 'pandas' is not defined

In [4]:
import pandas

In [5]:
df = pandas.read_csv('NFLdataset.csv')

In [6]:
import numpy

In [7]:
df.head()

,Unnamed: 0,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,...,possession_away,possession_home,score_away,score_home,Home_attempts_completed,Home_attempts,away_attempts_completed,away_attempts,YPPA_away,YPPA_home
0,0,2002-09-05,49ers,Giants,13,21,4-12,9-16,0-0,0-1,...,27:32,32:28,16,13,28,45,16,26,6.4,7.1
1,1,2002-09-08,Jets,Bills,18,26,2-8,7-17,0-0,2-2,...,21:06,39:08,37,31,26,39,24,30,6.4,6.2
2,2,2002-09-08,Vikings,Bears,19,20,5-13,7-13,0-0,0-0,...,31:31,28:29,23,27,20,33,16,28,8.1,8.7
3,3,2002-09-08,Chargers,Bengals,27,13,6-10,4-11,0-0,0-0,...,37:48,22:12,34,6,18,31,15,19,8.4,5.4
4,4,2002-09-08,Chiefs,Browns,24,24,5-11,4-11,0-0,0-0,...,30:16,29:44,40,39,28,40,20,29,9.5,8.8

In [8]:
import numpty as np

ModuleNotFoundError: No module named 'numpty'

In [10]:
import numpy as np

In [11]:
import pandas as pd

In [13]:
df.columns

Index(['Unnamed: 0', 'date', 'away', 'home', 'first_downs_away',
       'first_downs_home', 'third_downs_away', 'third_downs_home',
       'fourth_downs_away', 'fourth_downs_home', 'passing_yards_away',
       'passing_yards_home', 'rushing_yards_away', 'rushing_yards_home',
       'total_yards_away', 'total_yards_home', 'comp_att_away',
       'comp_att_home', 'sacks_away', 'sacks_home', 'rushing_attempts_away',
       'rushing_attempts_home', 'fumbles_away', 'fumbles_home', 'int_away',
       'int_home', 'turnovers_away', 'turnovers_home', 'penalties_away',
       'penalties_home', 'redzone_away', 'redzone_home', 'drives_away',
       'drives_home', 'def_st_td_away', 'def_st_td_home', 'possession_away',
       'possession_home', 'score_away', 'score_home',
       'Home_attempts_completed', 'Home_attempts', 'away_attempts_completed',
       'away_attempts', 'YPPA_away', 'YPPA_home'],
      dtype='object')

In [14]:
df.insert("Average_Yards_Per_Run_Home")

TypeError: insert() missing 2 required positional arguments: 'column' and 'value'

In [15]:
new = df['Average_Yards_Per_Run_Home']

KeyError: 'Average_Yards_Per_Run_Home'

In [16]:
Average_Yards_Per_Run_Home = []

In [17]:
df['Average_Yards_Per_Run_Home'] = Average_Yards_Per_Run_Home

ValueError: Length of values does not match length of index

In [18]:
df['Average_Yards_Per_Rush_Attempt_Home'] = np.where(df['rushing_attempts_home'] < 1, df['rushing_attempts_home'], df['rushing_yards_home']/df['rushing_attempts_home'])

In [19]:
df.head()

,Unnamed: 0,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,...,possession_home,score_away,score_home,Home_attempts_completed,Home_attempts,away_attempts_completed,away_attempts,YPPA_away,YPPA_home,Average_Yards_Per_Rush_Attempt_Home
0,0,2002-09-05,49ers,Giants,13,21,4-12,9-16,0-0,0-1,...,32:28,16,13,28,45,16,26,6.4,7.1,1.954545
1,1,2002-09-08,Jets,Bills,18,26,2-8,7-17,0-0,2-2,...,39:08,37,31,26,39,24,30,6.4,6.2,4.437500
2,2,2002-09-08,Vikings,Bears,19,20,5-13,7-13,0-0,0-0,...,28:29,23,27,20,33,16,28,8.1,8.7,3.076923
3,3,2002-09-08,Chargers,Bengals,27,13,6-10,4-11,0-0,0-0,...,22:12,34,6,18,31,15,19,8.4,5.4,2.769231
4,4,2002-09-08,Chiefs,Browns,24,24,5-11,4-11,0-0,0-0,...,29:44,40,39,28,40,20,29,9.5,8.8,2.950000

In [20]:
df['Average_Yards_Per_Rush_Attempt_Away'] = np.where(df['rushing_attempts_away'] < 1, df['rushing_attempts_away'], df['rushing_yards_away']/df['rushing_attempts_away'])

In [21]:
df.head()

,Unnamed: 0,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,...,score_away,score_home,Home_attempts_completed,Home_attempts,away_attempts_completed,away_attempts,YPPA_away,YPPA_home,Average_Yards_Per_Rush_Attempt_Home,Average_Yards_Per_Rush_Attempt_Away
0,0,2002-09-05,49ers,Giants,13,21,4-12,9-16,0-0,0-1,...,16,13,28,45,16,26,6.4,7.1,1.954545,4.520000
1,1,2002-09-08,Jets,Bills,18,26,2-8,7-17,0-0,2-2,...,37,31,26,39,24,30,6.4,6.2,4.437500,5.214286
2,2,2002-09-08,Vikings,Bears,19,20,5-13,7-13,0-0,0-0,...,23,27,20,33,16,28,8.1,8.7,3.076923,4.242424
3,3,2002-09-08,Chargers,Bengals,27,13,6-10,4-11,0-0,0-0,...,34,6,18,31,15,19,8.4,5.4,2.769231,5.355556
4,4,2002-09-08,Chiefs,Browns,24,24,5-11,4-11,0-0,0-0,...,40,39,28,40,20,29,9.5,8.8,2.950000,6.466667

In [22]:
df['Average_Yards_Per_Rush_Attempt_Home'] = df['Average_Yards_Per_Rush_Attempt_Home'].round(1)

In [23]:
df['Average_Yards_Per_Rush_Attempt_Away'] = df['Average_Yards_Per_Rush_Attempt_Away'].round(1)

In [24]:
df.head()

,Unnamed: 0,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,...,score_away,score_home,Home_attempts_completed,Home_attempts,away_attempts_completed,away_attempts,YPPA_away,YPPA_home,Average_Yards_Per_Rush_Attempt_Home,Average_Yards_Per_Rush_Attempt_Away
0,0,2002-09-05,49ers,Giants,13,21,4-12,9-16,0-0,0-1,...,16,13,28,45,16,26,6.4,7.1,2.0,4.5
1,1,2002-09-08,Jets,Bills,18,26,2-8,7-17,0-0,2-2,...,37,31,26,39,24,30,6.4,6.2,4.4,5.2
2,2,2002-09-08,Vikings,Bears,19,20,5-13,7-13,0-0,0-0,...,23,27,20,33,16,28,8.1,8.7,3.1,4.2
3,3,2002-09-08,Chargers,Bengals,27,13,6-10,4-11,0-0,0-0,...,34,6,18,31,15,19,8.4,5.4,2.8,5.4
4,4,2002-09-08,Chiefs,Browns,24,24,5-11,4-11,0-0,0-0,...,40,39,28,40,20,29,9.5,8.8,3.0,6.5

In [25]:
df['Pts_Per_Drive_home'] = np.where(df['drives_home'] < 1, df['drives_home'], df['score_home']/df['drives_home'])

In [26]:
df.head()

,Unnamed: 0,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,...,score_home,Home_attempts_completed,Home_attempts,away_attempts_completed,away_attempts,YPPA_away,YPPA_home,Average_Yards_Per_Rush_Attempt_Home,Average_Yards_Per_Rush_Attempt_Away,Pts_Per_Drive_home
0,0,2002-09-05,49ers,Giants,13,21,4-12,9-16,0-0,0-1,...,13,28,45,16,26,6.4,7.1,2.0,4.5,0.866667
1,1,2002-09-08,Jets,Bills,18,26,2-8,7-17,0-0,2-2,...,31,26,39,24,30,6.4,6.2,4.4,5.2,1.722222
2,2,2002-09-08,Vikings,Bears,19,20,5-13,7-13,0-0,0-0,...,27,20,33,16,28,8.1,8.7,3.1,4.2,1.588235
3,3,2002-09-08,Chargers,Bengals,27,13,6-10,4-11,0-0,0-0,...,6,18,31,15,19,8.4,5.4,2.8,5.4,0.400000
4,4,2002-09-08,Chiefs,Browns,24,24,5-11,4-11,0-0,0-0,...,39,28,40,20,29,9.5,8.8,3.0,6.5,2.294118

In [27]:
df['Pts_Per_Drive_away'] = np.where(df['drives_away'] < 1, df['drives_away'], df['score_away']/df['drives_away'])

In [28]:
df['Pts_Per_Drive_away'] = df['Pts_Per_Drive_away'].round(2)

In [29]:
df['Pts_Per_Drive_home'] = df['Pts_Per_Drive_home'].round(2)

In [30]:
df.head()

,Unnamed: 0,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,...,Home_attempts_completed,Home_attempts,away_attempts_completed,away_attempts,YPPA_away,YPPA_home,Average_Yards_Per_Rush_Attempt_Home,Average_Yards_Per_Rush_Attempt_Away,Pts_Per_Drive_home,Pts_Per_Drive_away
0,0,2002-09-05,49ers,Giants,13,21,4-12,9-16,0-0,0-1,...,28,45,16,26,6.4,7.1,2.0,4.5,0.87,1.23
1,1,2002-09-08,Jets,Bills,18,26,2-8,7-17,0-0,2-2,...,26,39,24,30,6.4,6.2,4.4,5.2,1.72,2.18
2,2,2002-09-08,Vikings,Bears,19,20,5-13,7-13,0-0,0-0,...,20,33,16,28,8.1,8.7,3.1,4.2,1.59,1.35
3,3,2002-09-08,Chargers,Bengals,27,13,6-10,4-11,0-0,0-0,...,18,31,15,19,8.4,5.4,2.8,5.4,0.40,3.09
4,4,2002-09-08,Chiefs,Browns,24,24,5-11,4-11,0-0,0-0,...,28,40,20,29,9.5,8.8,3.0,6.5,2.29,2.00

In [31]:
df = pd.concat(['score_home', 'score_away'], axis = 1)
df['Home_Result'] = np.where(df['score_home'] > df['score_away'], 'W', 'L')

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [32]:
df['Home_Result'] = np.where(df.score_home > df.score_away, 'Win', 'Loss')

In [33]:
df.head()

,Unnamed: 0,date,away,home,first_downs_away,first_downs_home,third_downs_away,third_downs_home,fourth_downs_away,fourth_downs_home,...,Home_attempts,away_attempts_completed,away_attempts,YPPA_away,YPPA_home,Average_Yards_Per_Rush_Attempt_Home,Average_Yards_Per_Rush_Attempt_Away,Pts_Per_Drive_home,Pts_Per_Drive_away,Home_Result
0,0,2002-09-05,49ers,Giants,13,21,4-12,9-16,0-0,0-1,...,45,16,26,6.4,7.1,2.0,4.5,0.87,1.23,Loss
1,1,2002-09-08,Jets,Bills,18,26,2-8,7-17,0-0,2-2,...,39,24,30,6.4,6.2,4.4,5.2,1.72,2.18,Loss
2,2,2002-09-08,Vikings,Bears,19,20,5-13,7-13,0-0,0-0,...,33,16,28,8.1,8.7,3.1,4.2,1.59,1.35,Win
3,3,2002-09-08,Chargers,Bengals,27,13,6-10,4-11,0-0,0-0,...,31,15,19,8.4,5.4,2.8,5.4,0.40,3.09,Loss
4,4,2002-09-08,Chiefs,Browns,24,24,5-11,4-11,0-0,0-0,...,40,20,29,9.5,8.8,3.0,6.5,2.29,2.00,Loss

In [35]:
df.to_csv(r'/home/johnd/Documents/NFLdataset1.csv')

In [1]:
df['Home_Result'] = np.where(df.score_home > df.score_away, df.score_home == df.score_away, 'Win', 'Tie', 'Loss')

NameError: name 'np' is not defined

In [3]:
import numpy

In [4]:
import numpy as np

In [5]:
df['Home_Result'] = np.where(df.score_home > df.score_away, df.score_home == df.score_away, 'Win', 'Tie', 'Loss')

NameError: name 'df' is not defined